@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  /* define 1 rem  */
  /* 1 rem  =4 */
  font-size: 87.5%;
}
body {
  box-sizing: border-box;
  /* <uniquifier>: Use a unique and descriptive class name
     <weight>: Use a value from 300 to 900 */

  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
   font-weight: 400;
  /*font-style: normal; */
}
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}  /* Style for scroll */
::-webkit-scrollbar {
    width: 5px; /* Adjust the width as desired */
}

/* Track */
::-webkit-scrollbar-track {
    background: #111827; /* Dark background color */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #111827; /* Darker color for the scroll handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #323131; /* Lighter color when hovering over the scroll handle */
}

/* Additional styling for the container */
.scroll-container {
    height: 300px; /* Adjust height as needed */
    overflow-y: scroll;
}

.scroll-content {
    padding: 20px;
}